* {
  box-sizing: border-box;
}

body {
  max-width: 950px;
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 28px 28px;
  grid-auto-flow: row;
  grid-template-areas:
    "myhomeworkapp myhomeworkapp"
    "freeroom kijijiautoposter"
    "marketexchange bitcoinbot";
}

.myhomeworkapp {
  grid-area: myhomeworkapp;
}

.freeroom {
  grid-area: freeroom;
}

.kijijiautoposter {
  grid-area: kijijiautoposter;
}

.marketexchange {
  grid-area: marketexchange;
}

.bitcoinbot {
  grid-area: bitcoinbot;
}
