* {
  box-sizing: border-box;
}

body {
  max-width: 944px;
  margin: auto;
  padding-top: 40px;
  background-color: rgb(247, 247, 247);
}

@media screen and (min-width: 1000px) {
  .intro-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 80px;
  }

  .intro-header h1 {
    width: 300px;
  }

  .developer {
    /* background: rgb(222, 89, 89); */
    background-image: linear-gradient(
      90deg,
      rgba(222, 89, 89, 1) 0%,
      rgba(153, 31, 109, 1) 100%
    );
    background-clip: text;
    color: transparent;
  }

  .designer {
    /* background: rgb(222, 89, 89); */
    background-image: linear-gradient(
      90deg,
      rgb(222, 102, 89) 0%,
      rgba(153, 31, 109, 1) 100%
    );
    background-clip: text;
    color: transparent;
  }

  .intro-paragraphs {
    max-width: 50ch;
    margin-left: -60px;
  }

  .intro-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 220px;
  }

  .header-button {
    width: 120px;
    height: 42px;
    background-color: rgb(0, 0, 0);
    border: none;
    color: white;
    border-radius: 3px;
  }

  .header-button:hover {
    cursor: pointer;
    background-color: rgb(37, 37, 37);
  }

  .header-button:active {
    background-color: rgb(71, 71, 71);
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 28px 28px;
    grid-auto-flow: row;
    grid-template-areas:
      "myhomeworkapp myhomeworkapp"
      "freeroom kijijiautoposter"
      "marketexchange bitcoinbot";
    margin-bottom: 50px;
  }

  .myhomeworkapp {
    grid-area: myhomeworkapp;
    background-color: #e4e4e4;
    min-height: 414px;
    border-radius: 6px;
    background-image: url(./assets/myhomeworkapp.png);
    background-size: cover;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1);
    transition: transform 0.3s;
  }

  .myhomeworkapp:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

  .content-container1 {
    margin-left: 50px;
  }

  .content-container1 > p {
    width: 45%;
  }

  .myhomeworkapp h1 {
    margin-bottom: 20px;
  }

  .tag {
    max-width: fit-content;
    padding: 5px 9px 5px 9px;
    background-color: white;
    border-radius: 6px;
    display: inline;
    margin-right: 11px;
  }

  .tags {
    margin-bottom: 25px;
  }

  .myhomeworkapp button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 0;
  }

  .button {
    display: flex;
    align-items: center;
    cursor: pointer;
    max-width: fit-content;
  }

  .button:hover {
    filter: opacity(0.6);
  }

  .myhomeworkapp button:active {
    color: rgba(0, 0, 0, 0.7);
  }

  .button > img {
    width: 17px;
    height: 17px;
  }

  .freeroom {
    grid-area: freeroom;
    background-color: #e6eff4;
    min-height: 414px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1);
    transition: transform 0.3s;
    background-image: url(./assets/freeroom.png);
    background-size: cover;
  }

  .content-container2 {
    margin: 40px;
  }

  .freeroom button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 0;
  }

  .freeroom button:active {
    color: rgba(0, 0, 0, 0.7);
  }

  .freeroom:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

  .kijijiautoposter {
    grid-area: kijijiautoposter;
    background-color: #ececef;
    min-height: 414px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1);
    transition: transform 0.3s;
    background-image: url(./assets/kijiji.png);
    background-size: cover;
  }

  .kijijiautoposter button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 0;
  }

  .kijijiautoposter button:active {
    color: rgba(0, 0, 0, 0.7);
  }

  .kijijiautoposter:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

  .marketexchange {
    grid-area: marketexchange;
    background-color: #efefec;
    min-height: 414px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1);
    transition: transform 0.3s;
    background-image: url(./assets/market.png);
    background-size: cover;
  }

  .marketexchange button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 0;
  }

  .marketexchange button:active {
    color: rgba(0, 0, 0, 0.7);
  }

  .marketexchange:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

  .bitcoinbot {
    grid-area: bitcoinbot;
    background-color: #eef4e6;
    min-height: 414px;
    border-radius: 6px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transform: scale(1);
    transition: transform 0.3s;
    background-image: url(./assets/bitcoin.png);
    background-size: cover;
  }

  .bitcoinbot button {
    border: 0;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    padding: 0;
  }

  .bitcoinbot button:active {
    color: rgba(0, 0, 0, 0.7);
  }

  .bitcoinbot:hover {
    transform: scale(1.01);
    cursor: pointer;
  }

  /* Typograhpy */

  .header-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 13px;
  }

  .intro-header h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 45px;
  }

  .intro-header p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 21px;
    font-size: 14px;
    color: #646464;
  }

  .intro-header::after {
    content: "MY PROJECTS";
    position: absolute;
    top: 345px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
  }

  .myhomeworkapp h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 43px;
  }

  .myhomeworkapp p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 21px;
    font-size: 16px;
  }

  .tag {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
    color: #272727cb;
  }

  .myhomeworkapp button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
  }

  .freeroom h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 43px;
  }

  .freeroom p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 21px;
    font-size: 16px;
  }

  .freeroom button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
  }

  .kijijiautoposter h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 43px;
  }

  .kijijiautoposter p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 21px;
    font-size: 16px;
  }

  .kijijiautoposter button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
  }

  .marketexchange h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 43px;
  }

  .marketexchange p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 21px;
    font-size: 16px;
  }

  .marketexchange button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
  }

  .bitcoinbot h1 {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 43px;
  }

  .bitcoinbot p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 21px;
    font-size: 16px;
  }

  .bitcoinbot button {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 14px;
  }
}
